# Documentación de pymongo

La documentación está en la url <https://pymongo.readthedocs.io/en/stable/api/pymongo/index.html>

# First steps with MongoDB and PyMongo


*   Connection to Mongo
*   Basic database, collection management
*   CRUD  one document
*   CRUD  many documents

# 1. Import PyMongo and establish connection

Tenemos que asegurarnos de que tenemos instalados los módulos necesarios

`conda install pymongo`

Habitualmente se crean diferentes environments para diferentes herramientas o proyectos, aunque no es objetivo de este curso.

Antes de arrancar jupyter nos podemos crear un environment para mongo con las siguientes instrucciones:

`conda create -n mongo --clone base
conda activate mongo
conda install pymongo
`

Una vez instalado podemos ejecutar `jupyter-lab` para arrancarlo

Con la siguiente instrucción nos aseguramos de estar utilizando el environment creado para mongo, esta instrucción lista todos los environments y nos indica con un `*` cuál está activo

In [1]:
!conda env list

# conda environments:
#
base                     /home/template/miniconda3
mongo                 *  /home/template/miniconda3/envs/mongo

In [2]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

In [3]:
print(client.list_database_names())

['admin', 'config', 'curso', 'local', 'test']

In [36]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

db = client.curso
db.cars.drop()
db.cars.insert_many(cars)

In [37]:
db = client.curso
list (db.list_collections())

[{'name': 'lecturer',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('03790849-6935-4cf7-a028-4cdc97926fde')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'alumnos2',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('42e3f21f-6c7f-4599-8daa-6c0a4ee6922b')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'test',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('7c49d6b8-7e06-4da7-9566-13a290b2846e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'cars',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('9ae5d4ae-97b6-4437-b608-5b4106f74f4e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'ciudades_abandonadas',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('a0e6b2c7-2b13-481b-85ce-28cbaf3e4d47')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'zips',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('a48b4a8d-f4e0-43e3-87bf-c3d8f9f68b55')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

### Statistics

In [38]:
status = db.command("dbstats")
print(status)

{'db': 'curso', 'collections': 6, 'views': 0, 'objects': 29482, 'avgObjSize': 94.34672003256225, 'dataSize': 2781530.0, 'storageSize': 1421312.0, 'indexes': 6, 'indexSize': 425984.0, 'totalSize': 1847296.0, 'scaleFactor': 1.0, 'fsUsedSize': 9278976000.0, 'fsTotalSize': 53660876800.0, 'ok': 1.0}

In [53]:
cars = db.cars.find()
#print("There are {} cars".format(num_cars))
n_cars = db.cars.estimated_document_count()
#n_cars = db.cars.count_documents({})
#n_cars = cars.count()
print("There are {} cars".format(n_cars))

print(cars.next())
print("====================")
print(cars.next())
print("====================")
print(cars.next())

print("====================")
print("====================")
cars.rewind()

print(cars.next())
print(cars.next())
print(cars.next())    

print(list(cars))

There are 8 cars
{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642}
====================
{'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127}
====================
{'_id': ObjectId('603e2d33b0a78acf46b94c77'), 'name': 'Skoda', 'price': 9000}
====================
====================
{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('603e2d33b0a78acf46b94c77'), 'name': 'Skoda', 'price': 9000}
[{'_id': ObjectId('603e2d33b0a78acf46b94c78'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('603e2d33b0a78acf46b94c79'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('603e2d33b0a78acf46b94c7a'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('603e2d33b0a78acf46b94c7b'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('603e2d33b0a78acf46b94c7c'), 'name': 'Volkswagen', 'price': 21600}]

### Access fields

In [41]:
cars = db.cars.find()
print(type(cars))

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

<class 'pymongo.cursor.Cursor'>
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [54]:
cars = db.cars.find( {} , {'name':True,'price':True, '_id': False})
for car in cars:
    print(car)

{'name': 'Audi', 'price': 52642}
{'name': 'Mercedes', 'price': 57127}
{'name': 'Skoda', 'price': 9000}
{'name': 'Volvo', 'price': 29000}
{'name': 'Bentley', 'price': 350000}
{'name': 'Citroen', 'price': 21000}
{'name': 'Hummer', 'price': 41400}
{'name': 'Volkswagen', 'price': 21600}

### Find one

In [55]:
car = db.cars.find_one()
print(type(car))
print(car)
print (car["name"])

car = db.cars.find_one({'name': 'Volvo'})
print(car)

<class 'dict'>
{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642}
Audi
{'_id': ObjectId('603e2d33b0a78acf46b94c78'), 'name': 'Volvo', 'price': 29000}

### Filter

In [47]:
expensive_cars = db.cars.find({'price': {'$gt': 50000}})

for ecar in expensive_cars:
    print(ecar['name'])

Audi
Mercedes
Bentley

In [59]:

cars = db.cars.find().where('this.price<15000 && this.name == "Skoda"')
#print(db.cars.find().where.__doc__)

print(list(cars))

Adds a `$where`_ clause to this query.

        The `code` argument must be an instance of :class:`basestring`
        (:class:`str` in python 3) or :class:`~bson.code.Code`
        containing a JavaScript expression. This expression will be
        evaluated for each document scanned. Only those documents
        for which the expression evaluates to *true* will be returned
        as results. The keyword *this* refers to the object currently
        being scanned. For example::

            # Find all documents where field "a" is less than "b" plus "c".
            for doc in db.test.find().where('this.a < (this.b + this.c)'):
                print(doc)

        Raises :class:`TypeError` if `code` is not an instance of
        :class:`basestring` (:class:`str` in python 3). Raises
        :class:`~pymongo.errors.InvalidOperation` if this
        :class:`Cursor` has already been used. Only the last call to
        :meth:`where` applied to a :class:`Cursor` has any effect.

        .. note:: MongoDB 4.4 drops support for :class:`~bson.code.Code`
          with scope variables. Consider using `$expr`_ instead.

        :Parameters:
          - `code`: JavaScript expression to use as a filter

        .. _$expr: https://docs.mongodb.com/manual/reference/operator/query/expr/
        .. _$where: https://docs.mongodb.com/manual/reference/operator/query/where/

[{'_id': ObjectId('603e2d33b0a78acf46b94c77'), 'name': 'Skoda', 'price': 9000}]

In [21]:
cars = db.cars.find().skip(2).limit(3)

for car in cars:
    print('{0}: {1}'.format(car['name'], car['price']))

Skoda: 9000
Volvo: 29000
Bentley: 350000

In [63]:
from pymongo import DESCENDING, ASCENDING
print (f'ASCENDING={ASCENDING}, DESCENDING={DESCENDING}')
cars = db.cars.find().sort("price", DESCENDING)

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

ASCENDING=1, DESCENDING=-1
Bentley 350000
Mercedes 57127
Audi 52642
Hummer 41400
Volvo 29000
Volkswagen 21600
Citroen 21000
Skoda 9000

### Update

In [64]:
car_collection = db.cars 
car_collection.update_many( {'price': {'$gt': 50000}}, {"$set" : { "luxury_car" : True }})

cars = db.cars.find()
print(list(cars))

[{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c77'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('603e2d33b0a78acf46b94c78'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('603e2d33b0a78acf46b94c79'), 'name': 'Bentley', 'price': 350000, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c7a'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('603e2d33b0a78acf46b94c7b'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('603e2d33b0a78acf46b94c7c'), 'name': 'Volkswagen', 'price': 21600}]

### Delete

In [65]:
car_collection = db.cars 
car_collection.delete_many( {"luxury_car": {"$exists": False}})

cars = db.cars.find()
print(list(cars))

[{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c79'), 'name': 'Bentley', 'price': 350000, 'luxury_car': True}]