In [2]:
import pandas as pd
import numpy as np

In [7]:
# arange spaced values within a given interval
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [41]:
# Eliminar fila con indice
new_obj = obj.drop('c')
print(new_obj)

#Usando reshape
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])

print(data)

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [19]:
# Eliminar indices de fila
print(data.drop(['Colorado', 'Ohio']))

# Eliminar indices de columna
print(data.drop('two', axis=1))

print(data.drop(['two', 'four'], axis='columns'))

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [32]:
# Series con indices
obja = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(obja)

# Seleccion por etiqueta
print(obja['c'])

# Por indice
print(obj[1])

# Por rango de indice
print(obj[2:4])
print(obj[3:4])

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
2.0
1.0
c    2.0
d    3.0
dtype: float64
d    3.0
dtype: float64

In [35]:
# Elementos menores que 2
print(obj[obj < 2])

print(obj[:2])

a    0.0
b    1.0
dtype: float64
a    0.0
b    1.0
dtype: float64

In [55]:
# Una columna, multiples filas
print(data.loc['Colorado', ['two', 'three']])

print(data)
# Segunda fila, tres columnas
print(data.iloc[2, [3, 0, 1]])

print(data.loc[:'Utah', 'two'])

# Pandas Selection and Indexing (loc, iloc)
# iloc with filtering
print(data.iloc[:, :3][data.three >5])

two      5
three    6
Name: Colorado, dtype: int32
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
four    11
one      8
two      9
Name: Utah, dtype: int32
Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int32
          one  two  three
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14
               b         d         e
Utah   -0.070226 -0.259878 -0.266607
Ohio   -0.339287 -0.804218 -0.290091
Texas  -0.565751  0.857644 -0.917230
Oregon -0.465883  1.027921 -0.188349

In [59]:
# Numpy Random
frame = pd.DataFrame(np.random.randn(4,3), columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(frame)

# Valor absoluto
print(np.abs(frame))

# Potencia
print(np.power(frame,2))
# Potencia de 2 elevado al elemento
print(np.power(2,frame))

               b         d         e
Utah    1.018690  2.926602  0.478263
Ohio    0.457305 -0.904319  0.574415
Texas  -0.841403  0.318159  0.784469
Oregon  0.388760 -1.020967 -2.197868
               b         d         e
Utah    1.018690  2.926602  0.478263
Ohio    0.457305  0.904319  0.574415
Texas   0.841403  0.318159  0.784469
Oregon  0.388760  1.020967  2.197868
               b         d         e
Utah    1.037730  8.564999  0.228735
Ohio    0.209127  0.817793  0.329953
Texas   0.707960  0.101225  0.615392
Oregon  0.151134  1.042373  4.830623
               b         d         e
Utah    2.026079  7.603175  1.393065
Ohio    1.372974  0.534285  1.489074
Texas   0.558100  1.246738  1.722458
Oregon  1.309268  0.492786  0.217960

In [64]:
# Lambdas
# funciones sin nombre, inplace

print(frame)
# por cada frame recorre cada columna y evalua el maximo
f1 = lambda x: x.max()
print(frame.apply(f1))

f2 = lambda x: x.min()
print(frame.apply(f2))

# por defecto va por columnas, al colocar axis va por filas
print(frame.apply(f2, axis='columns'))

f = lambda x: x.max() - x.min()
print(frame.apply(f))

               b         d         e
Utah    1.018690  2.926602  0.478263
Ohio    0.457305 -0.904319  0.574415
Texas  -0.841403  0.318159  0.784469
Oregon  0.388760 -1.020967 -2.197868
b    1.018690
d    2.926602
e    0.784469
dtype: float64
b   -0.841403
d   -1.020967
e   -2.197868
dtype: float64
Utah      0.478263
Ohio     -0.904319
Texas    -0.841403
Oregon   -2.197868
dtype: float64
b    1.860094
d    3.947569
e    2.982337
dtype: float64

In [73]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(obj)

# Ordenacion 
print(obj.sort_index())
# Descendente
#print(obj.sort_index(axis=1, ascending=False))

obj = pd.Series([4, 7, 2, 5, 'Nan'])
print(obj)
print(obj.sort_values)

d    0
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    0
dtype: int64
0      4
1      7
2      2
3      5
4    Nan
dtype: object
<bound method Series.sort_values of 0      4
1      7
2      2
3      5
4    Nan
dtype: object>

In [74]:
# Acceso al sistema operativo
import os

In [80]:
print(os.getcwd())

print(os.listdir(os.getcwd()))

# cambiar directorio
os.chdir()

os.listdir()

C:\Users\saule\Documents\DataScience\EAE\Cursos\DigitalTransformation
['.ipynb_checkpoints', 'Ejercicios', 'Pandas01.ipynb', 'Pandas2.ipynb', 'Prueba1.ipynb']

['.ipynb_checkpoints',
 'Ejercicios',
 'Pandas01.ipynb',
 'Pandas2.ipynb',
 'Prueba1.ipynb']

In [81]:
# ejecutar comandos dos
!dir

 Volume in drive C is Windows
 Volume Serial Number is 8265-6AD6

 Directory of C:\Users\saule\Documents\DataScience\EAE\Cursos\DigitalTransformation

11/17/2020  06:32 PM    <DIR>          .
11/17/2020  06:32 PM    <DIR>          ..
11/17/2020  04:38 PM    <DIR>          .ipynb_checkpoints
11/13/2020  10:29 AM    <DIR>          Ejercicios
11/17/2020  05:47 PM            19,182 Pandas01.ipynb
11/17/2020  06:32 PM            10,583 Pandas2.ipynb
11/13/2020  01:06 PM            11,878 Prueba1.ipynb
               3 File(s)         41,643 bytes
               4 Dir(s)  15,066,071,040 bytes free

In [85]:
# https://www.stats.govt.nz/large-datasets/csv-files-for-download

#df = pd.read_csv('')

url = 'https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2019-financial-year-provisional/Download-data/annual-enterprise-survey-2019-financial-year-provisional-csv.csv'
df1 = pd.read_csv(url)

print(len(df1.index))

print(len(df1.shape))

32445
2

FileNotFoundError: [Errno 2] File annual-enterprise-survey-2019-financial-year-provisional-csv%20(1).csv does not exist: 'annual-enterprise-survey-2019-financial-year-provisional-csv%20(1).csv'

In [87]:
data = pd.read_csv('prueba.csv')
print(data)

data.head(5)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2019                     Level 1                99999
1      2019                     Level 1                99999
2      2019                     Level 1                99999
3      2019                     Level 1                99999
4      2019                     Level 1                99999
...     ...                         ...                  ...
32440  2013                     Level 3                 ZZ11
32441  2013                     Level 3                 ZZ11
32442  2013                     Level 3                 ZZ11
32443  2013                     Level 3                 ZZ11
32444  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
32440  Food product manufacturing          Percentage           H37
32441  Food product manufacturing          Percentage           H38
32442  Food product manufacturing          Percentage           H39
32443  Food product manufacturing          Percentage           H40
32444  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
32440                                      Quick ratio       Financial ratios
32441              Margin on sales of goods for resale       Financial ratios
32442                                 Return on equity       Financial ratios
32443                           Return on total assets       Financial ratios
32444                            Liabilities structure       Financial ratios

         Value                             Industry_code_ANZSIC06
0      728,239  ANZSIC06 divisions A-S (excluding classes K633...
1      643,809  ANZSIC06 divisions A-S (excluding classes K633...
2       62,924  ANZSIC06 divisions A-S (excluding classes K633...
3       21,505  ANZSIC06 divisions A-S (excluding classes K633...
4      634,710  ANZSIC06 divisions A-S (excluding classes K633...
...        ...                                                ...
32440       52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
32441       40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
32442       12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
32443        5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
32444       46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[32445 rows x 10 columns]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...