In [6]:
import pandas as pd

In [2]:
pd.__version__

'1.0.1'

In [11]:
# Series
obj = pd.Series([4,7,-5,3])
print(obj)

obj2 = pd.Series([4,7,-5,3], index=['d', 'b', 'a', 'c'])
print(obj2)

obj2 = pd.Series([4,7,-5,3], index=[1, 2, 3, 4])
print(obj2)

print(obj2[1])

# acceso a varios datos de manera simultanea
print(obj2[[1, 2, 3]])

0    4
1    7
2   -5
3    3
dtype: int64
d    4
b    7
a   -5
c    3
dtype: int64
1    4
2    7
3   -5
4    3
dtype: int64
4
1    4
2    7
3   -5
dtype: int64

In [18]:
#Filtrado de datos

print(obj2[obj2 > 2])

#Operaciones con Series
print(obj2 * 2)

# Exponente al cuadrado
print(obj2.pow(2))

# Relleno de valores inexistentes NaN con ceros
print(obj2.pow(2, fill_value=0))

print(obj2.pow(2, axis=0))

1    4
2    7
4    3
dtype: int64
1     8
2    14
3   -10
4     6
dtype: int64
1    16
2    49
3    25
4     9
dtype: int64
1    16
2    49
3    25
4     9
dtype: int64
1    16
2    49
3    25
4     9
dtype: int64

In [28]:
#COmprobar indices
print('b' in obj2)

print(2 in obj2)

# Creacion de series a partir de diccionario
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
print(sdata)

obj3 = pd.Series(sdata)
print(obj3)

## Creando serie usando un orden propio de indices
states = ['Utah', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print(obj4)

states_A = ['Utah', 'Ohio', 'Oregon', 'California']
obj4_A = pd.Series(sdata, index=states_A)
print(obj4_A)

False
True
{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
Utah       5000
Ohio      35000
Oregon    16000
Texas     71000
dtype: int64
Utah           5000.0
Ohio          35000.0
Oregon        16000.0
California        NaN
dtype: float64

In [32]:
# Revisar si contienen nulls
print(pd.isnull(obj4))

print(pd.isnull(obj4_A))

print(pd.notnull(obj4))

Utah      False
Ohio      False
Oregon    False
Texas     False
dtype: bool
Utah          False
Ohio          False
Oregon        False
California     True
dtype: bool
Utah      True
Ohio      True
Oregon    True
Texas     True
dtype: bool

In [36]:
# suma de Seies
print(obj3 + obj4)
print(obj4 + obj4_A)

# Asignar nombre a la serie y su indice
obj4.name = 'population'
obj4.index.name = 'state'
print(obj4)

Ohio       70000
Oregon     32000
Texas     142000
Utah       10000
dtype: int64
California        NaN
Ohio          70000.0
Oregon        32000.0
Texas             NaN
Utah          10000.0
dtype: float64
state
Utah       5000
Ohio      35000
Oregon    16000
Texas     71000
Name: population, dtype: int64

In [38]:
# Modificar indice
print(obj)

obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [7]:
# DATAFRAMES
# Array bidimensional, es como una hoja de excel

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada','Nevada','Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
print(frame)

print(frame.head(2))

print(frame.tail(2))

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [8]:
print(frame.head())

# Usar el constructor para customizar el dataframe que vamos a construir
print(pd.DataFrame(data, columns = ['state', 'year']))

print(pd.DataFrame(data, columns = ['state', 'year1']))

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002
5  Nevada  2003
    state year1
0    Ohio   NaN
1    Ohio   NaN
2    Ohio   NaN
3  Nevada   NaN
4  Nevada   NaN
5  Nevada   NaN

In [9]:
# Recuperar columns especificas
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print(frame2)

# Recuperar datos en formatio de serie
print(frame2['state'])

# Recuperar en formato diccionario
print(frame2.state)

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [10]:
data2 = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada','Nevada','Nevada'],
       '1year': [2000, 2001, 2002, 2001, 2002, 2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frameB = pd.DataFrame(data2)
print(frameB)

print(frameB['1year'])

# Error nombre de columna invalido
#print(frameB.1year)

    state  1year  pop
0    Ohio   2000  1.5
1    Ohio   2001  1.7
2    Ohio   2002  3.6
3  Nevada   2001  2.4
4  Nevada   2002  2.9
5  Nevada   2003  3.2
0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 1year, dtype: int64

In [11]:
print(frame2.loc['three'])
frame2['debt'] = 16.5

print(frame2)

year     2002
state    Ohio
pop       3.6
Name: three, dtype: object
       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [12]:
# Cambiar una serie de un dataframe
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)

frame2['eastern'] = 'Ohio'
print(frame2)

frame2['western'] = 'California'
print(frame2)

# borrar
del frame2['eastern']
print(frame2)

del frame2['western']
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    Ohio
two    2001    Ohio  1.7  -1.2    Ohio
three  2002    Ohio  3.6   NaN    Ohio
four   2001  Nevada  2.4  -1.5    Ohio
five   2002  Nevada  2.9  -1.7    Ohio
six    2003  Nevada  3.2   NaN    Ohio
       year   state  pop  debt eastern     western
one    2000    Ohio  1.5   NaN    Ohio  California
two    2001    Ohio  1.7  -1.2    Ohio  California
three  2002    Ohio  3.6   NaN    Ohio  California
four   2001  Nevada  2.4  -1.5    Ohio  California
five   2002  Nevada  2.9  -1.7    Ohio  California
six    2003  Nevada  3.2   NaN    Ohio  California
       year   state  pop  debt     western
one    2000    Ohio  1.5   NaN  California
two    2001    Ohio  1.7  -1.2  California
three  2002    Ohio  3.6   NaN  California
four   2001  Nevada  2.4  -1.5  California
five   2002  Nevada  2.9  -1.7  California
six    2003  Nevada  3.2   NaN  California
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [13]:
# Copiar dataframes
fcopy = frame2.copy()
print(fcopy)

# Crear dataframe a partir de un diccionario de diccionarios
pop1 = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

print(pop1)

frame3 = pd.DataFrame(pop1)
print(frame3)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [14]:
# Transposicion
print(frame3.T)

print(frame3.T.T)

# Nombres del indice y columnas del dataframe
frame3.index.name = 'year'
print(frame3)

frame3.columns.name = 'state'
print(frame3)

# mostrar en formato array o matricial
print(frame3.values)

print(frame2.values)

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5
      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
      Nevada  Ohio
year
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5
[[2.4 1.7]
 [2.9 3.6]
 [nan 1.5]]
[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 -1.2]
 [2002 'Ohio' 3.6 nan]
 [2001 'Nevada' 2.4 -1.5]
 [2002 'Nevada' 2.9 -1.7]
 [2003 'Nevada' 3.2 nan]]

In [28]:
# Reindexado

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

print(obj)


obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)

obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)

#Reindexacion de columnas
data = [[4.5, 7.2, -5.3], [5.5, 8.2, -6.3], [6.5, 9.2, -7.3]]
frame = pd.DataFrame(data, index=['a', 'b', 'c'], columns=['Ohio', 'Texas', 'California'])

print(frame)

states = ['Texas', 'Utah', 'California']

print(frame.reindex(columns=states))

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64
0      blue
2    purple
4    yellow
dtype: object
   Ohio  Texas  California
a   4.5    7.2        -5.3
b   5.5    8.2        -6.3
c   6.5    9.2        -7.3
   Texas  Utah  California
a    7.2   NaN        -5.3
b    8.2   NaN        -6.3
c    9.2   NaN        -7.3

AttributeError: 'list' object has no attribute 'loc'