In [1]:
ruta = "file:////home/ubuntu/bigdata/examples/spark/sparkSQL/data"

datosCoches = spark.read.format('csv') \
            .option('header','true') \
            .option('inferSchema','true') \
            .option('delimiter', ';') \
            .load(ruta + "/dataset_coches.csv")

In [2]:
datosCoches.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [6]:
from pyspark.sql.functions import count, desc, avg

europeCars = datosCoches.where("Origin == 'Europe'")
selectEropeCars = europeCars.select(europeCars['Car'].alias('Car'), europeCars['Cylinders'].alias('Cylinders'))

selectEropeCars.show()

+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Citroen DS-21 Pallas|        4|
|Volkswagen 1131 D...|        4|
|         Peugeot 504|        4|
|         Audi 100 LS|        4|
|            Saab 99e|        4|
|            BMW 2002|        4|
|Volkswagen Super ...|        4|
|           Opel 1900|        4|
|         Peugeot 304|        4|
|           Fiat 124B|        4|
|Volkswagen Model 111|        4|
|   Volkswagen Type 3|        4|
|     Volvo 145e (sw)|        4|
| Volkswagen 411 (sw)|        4|
|    Peugeot 504 (sw)|        4|
|     Renault 12 (sw)|        4|
|Volkswagen Super ...|        4|
|Fiat 124 Sport Coupe|        4|
|            Fiat 128|        4|
|          Opel Manta|        4|
+--------------------+---------+
only showing top 20 rows

In [13]:
datosCoches.createOrReplaceTempView("carsSQL")

In [14]:
rset = spark.sql("SELECT Car, Cylinders FROM carsSQL where Origin == 'Europe'")
rset.show()

+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Citroen DS-21 Pallas|        4|
|Volkswagen 1131 D...|        4|
|         Peugeot 504|        4|
|         Audi 100 LS|        4|
|            Saab 99e|        4|
|            BMW 2002|        4|
|Volkswagen Super ...|        4|
|           Opel 1900|        4|
|         Peugeot 304|        4|
|           Fiat 124B|        4|
|Volkswagen Model 111|        4|
|   Volkswagen Type 3|        4|
|     Volvo 145e (sw)|        4|
| Volkswagen 411 (sw)|        4|
|    Peugeot 504 (sw)|        4|
|     Renault 12 (sw)|        4|
|Volkswagen Super ...|        4|
|Fiat 124 Sport Coupe|        4|
|            Fiat 128|        4|
|          Opel Manta|        4|
+--------------------+---------+
only showing top 20 rows

In [16]:
datos2 = datosCoches.groupBy(datosCoches['Origin']) \
        .agg(count(datosCoches['Origin']).alias('Total'))

datos2.show(5)

+------+-----+
|Origin|Total|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [17]:
rset = spark.sql("SELECT Origin, count(*) as Total FROM carsSQL group by Origin")
rset.show()

+------+-----+
|Origin|Total|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+