# Documentación de pymongo

La documentación está en la url <https://pymongo.readthedocs.io/en/stable/api/pymongo/index.html>

# First steps with MongoDB and PyMongo


*   Connection to Mongo
*   Basic database, collection management
*   CRUD  one document
*   CRUD  many documents

# 1. Import PyMongo and establish connection

Tenemos que asegurarnos de que tenemos instalados los módulos necesarios

`conda install pymongo`

Habitualmente se crean diferentes environments para diferentes herramientas o proyectos, aunque no es objetivo de este curso.

Antes de arrancar jupyter nos podemos crear un environment para mongo con las siguientes instrucciones:

`conda create -n mongo --clone base
conda activate mongo
conda install pymongo
`

Una vez instalado podemos ejecutar `jupyter-lab` para arrancarlo

Con la siguiente instrucción nos aseguramos de estar utilizando el environment creado para mongo, esta instrucción lista todos los environments y nos indica con un `*` cuál está activo

In [1]:
!conda env list

# conda environments:
#
base                     /home/template/miniconda3
mongo                 *  /home/template/miniconda3/envs/mongo

In [2]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

In [3]:
print(client.list_database_names())

['Curso', 'admin', 'config', 'curso2', 'datos_lecturer', 'local', 'test']

In [4]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

db = client.Curso
db.cars.drop()
db.cars.insert_many(cars)

In [5]:
db = client.Curso
list (db.list_collections())

[{'name': 'gimnasioescritura',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('0379c071-4dfa-4e0c-b569-6d499911902a')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'ejercicioGimnasio',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('19550f58-1c85-43a3-9e4a-8f4e573f5b86')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'Prueba',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('2001bcd9-e9d5-494b-9538-3c981da79cf6')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'cars',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('453ed38d-5da5-488b-9ccc-89ab6c9c7c27')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'puntuaciones3',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('4da17ece-e0d7-403d-a4c2-583bab1a4361')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'tareas',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('6ad424a4-8ba4-4b46-9a08-43e4438e6a22')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'lecturer',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('9dbf16c7-16be-46d0-ba14-c6219314fc7b')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'gimnasio',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('cb936646-22d3-4a3c-a4d0-b084c2a7ed7d')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'alumnos',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('de37634a-85ed-468d-a5fc-22ff8f8ec38e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

### Statistics

In [6]:
status = db.command("dbstats")
print(status)

{'db': 'Curso', 'collections': 9, 'views': 0, 'objects': 2512, 'avgObjSize': 148.8483280254777, 'dataSize': 373907.0, 'storageSize': 348160.0, 'indexes': 9, 'indexSize': 192512.0, 'totalSize': 540672.0, 'scaleFactor': 1.0, 'fsUsedSize': 9220476928.0, 'fsTotalSize': 53660876800.0, 'ok': 1.0}

In [7]:
cars = db.cars.find()
#print("There are {} cars".format(num_cars))
n_cars = db.cars.estimated_document_count()
#n_cars = db.cars.count_documents({})
#n_cars = cars.count()
print("There are {} cars".format(n_cars))

print(cars.next())
print("====================")
print(cars.next())
print("====================")
print(cars.next())

print("====================")
print("====================")
cars.rewind()

print(cars.next())
print(cars.next())
print(cars.next())    

print(list(cars))

There are 8 cars
{'_id': ObjectId('60465f37280ef665fe5760e4'), 'name': 'Audi', 'price': 52642}
====================
{'_id': ObjectId('60465f37280ef665fe5760e5'), 'name': 'Mercedes', 'price': 57127}
====================
{'_id': ObjectId('60465f37280ef665fe5760e6'), 'name': 'Skoda', 'price': 9000}
====================
====================
{'_id': ObjectId('60465f37280ef665fe5760e4'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('60465f37280ef665fe5760e5'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('60465f37280ef665fe5760e6'), 'name': 'Skoda', 'price': 9000}
[{'_id': ObjectId('60465f37280ef665fe5760e7'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60465f37280ef665fe5760e8'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60465f37280ef665fe5760e9'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60465f37280ef665fe5760ea'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60465f37280ef665fe5760eb'), 'name': 'Volkswagen', 'price': 21600}]

### Access fields

In [8]:
cars = db.cars.find()
print(type(cars))

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

<class 'pymongo.cursor.Cursor'>
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [54]:
cars = db.cars.find( {} , {'name':True,'price':True, '_id': False})
for car in cars:
    print(car)

{'name': 'Audi', 'price': 52642}
{'name': 'Mercedes', 'price': 57127}
{'name': 'Skoda', 'price': 9000}
{'name': 'Volvo', 'price': 29000}
{'name': 'Bentley', 'price': 350000}
{'name': 'Citroen', 'price': 21000}
{'name': 'Hummer', 'price': 41400}
{'name': 'Volkswagen', 'price': 21600}

### Find one

In [9]:
car = db.cars.find_one()
print(type(car))
print(car)
print (car["name"])

car = db.cars.find_one({'name': 'Volvo'})
print(car)

<class 'dict'>
{'_id': ObjectId('60465f37280ef665fe5760e4'), 'name': 'Audi', 'price': 52642}
Audi
{'_id': ObjectId('60465f37280ef665fe5760e7'), 'name': 'Volvo', 'price': 29000}

### Filter

In [10]:
expensive_cars = db.cars.find({'price': {'$gt': 50000}})

for ecar in expensive_cars:
    print(ecar['name'])

Audi
Mercedes
Bentley

In [11]:

cars = db.cars.find().where('this.price<15000 && this.name == "Skoda"')
#print(db.cars.find().where.__doc__)

print(list(cars))

[{'_id': ObjectId('60465f37280ef665fe5760e6'), 'name': 'Skoda', 'price': 9000}]

In [12]:
cars = db.cars.find().skip(2).limit(3)

for car in cars:
    print('{0}: {1}'.format(car['name'], car['price']))

Skoda: 9000
Volvo: 29000
Bentley: 350000

In [13]:
from pymongo import DESCENDING, ASCENDING
print (f'ASCENDING={ASCENDING}, DESCENDING={DESCENDING}')
cars = db.cars.find().sort("price", DESCENDING)

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

ASCENDING=1, DESCENDING=-1
Bentley 350000
Mercedes 57127
Audi 52642
Hummer 41400
Volvo 29000
Volkswagen 21600
Citroen 21000
Skoda 9000

### Update

In [64]:
car_collection = db.cars 
car_collection.update_many( {'price': {'$gt': 50000}}, {"$set" : { "luxury_car" : True }})

cars = db.cars.find()
print(list(cars))

[{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c77'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('603e2d33b0a78acf46b94c78'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('603e2d33b0a78acf46b94c79'), 'name': 'Bentley', 'price': 350000, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c7a'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('603e2d33b0a78acf46b94c7b'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('603e2d33b0a78acf46b94c7c'), 'name': 'Volkswagen', 'price': 21600}]

### Delete

In [65]:
car_collection = db.cars 
car_collection.delete_many( {"luxury_car": {"$exists": False}})

cars = db.cars.find()
print(list(cars))

[{'_id': ObjectId('603e2d33b0a78acf46b94c75'), 'name': 'Audi', 'price': 52642, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c76'), 'name': 'Mercedes', 'price': 57127, 'luxury_car': True}, {'_id': ObjectId('603e2d33b0a78acf46b94c79'), 'name': 'Bentley', 'price': 350000, 'luxury_car': True}]