### **Bucles de control del programa**

### Bucles For

### Iteración a través de una lista

In [1]:
miLista = ["Coche", "Casa", "Playa"]
for x in miLista: # Toma cada uno de los elementos y los asigna a la variable x
  print(x) # Imprime la variable x

Coche
Casa
Playa

### Iteración a través de los elementos de una cadena

In [ ]:

for x in "EAE Business School": # Toma elemento a elemento de la cadena y lo asigna a la variable x
  print(x) # Imprime la variable x.

### Ejercicio.
 
Repite el ejercicio anterior pero, imprime la cadena tal como pararece en la lista.

In [5]:
# Respuesta
for x in "EAE Business School": # Toma elemento a elemento de la cadena y lo asigna a la variable x
  print(x, end = '')

EAE Business School

### Detener la ejecución con `break` de un bucle dada una condición

In [ ]:
miLista =["Coche", "Casa", "Playa"]
for x in miLista:
  print(x)
  if x == "Casa":
    break

Coche
Casa

### Establecer saltos en la secuencia del bucle mediante `continue`

In [6]:
intLista =[1, 2, 3, 4, 5]
for x in intLista:
  if x == 3:
    continue
  print(x)

1
2
4
5

### Ejercicio
 
Suma los dos primeros y los dos últimos elementos de la lista

In [10]:
intLista =[1, 2, 3, 4, 5]

total = 0
# Respuesta
for x in intLista:
    if(x == 3):
        continue
    total += x
    
print(total)

12

### Iterar dentro de un rango de valores con `range()`

In [11]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### Iteracción entre dos valores de un rango

In [ ]:
for x in range(8, 10):
    print(x)

8
9

### Interacción modificando el tamaño del paso

In [ ]:
for x in range(0, 10, 3):
    print(x)

0
3
6
9

### Ejercicio
 
Cuenta desde 10 hasta 0 usando `range`

In [17]:
# Respuesta
for x in range(10, -1, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1
0

### Ejercicio.
 
Recorre la lista siguiente usando `range`. Muestra el contenido y su ordinal asociado

In [27]:
intLista =[1, 2, 3, 4, 5]

# Respuesta
i = 0

#for x in intLista:
#    print(i, end = ' ')
#    print(x, end = '')
#    print()
    
for x in range(len(intLista)):
    print(x, intLista[x])

0 1
1 2
2 3
3 4
4 5

### Estructuras de control del programa/Claúsulas de decisión

In [ ]:
  
numero = 99
if(numero <= 12): 
    print("Num menor que 12") 
elif(numero >= 30 and numero <=100): 
    print("Número entre 30 y 100") 
else: 
    print("Número mayor de 100")

Número entre 30 y 100

### Ejeción de una instrucción al final de un ciclo

In [28]:
for x in range(6):
    print(x)
else:
    print("Ejecuta al finalizar el bucle")

0
1
2
3
4
5
Ejecuta al finalizar el bucle

### Bucles anidados

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

[print(adjetivo, fruta) for adjetivo in adj for fruta in fruits]

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

[None, None, None, None, None, None, None, None, None]

### Ejercicio
 
Escribe un bucle for in-line tal que imprima la siguiente lista de listas en orden creciente, esto es: 1,2,3,...

In [35]:
non_flat = [ [1,2,3], [4,5,6], [7,8], [9], [10] ]

# Respuesta
#[print(adjetivo, fruta) for adjetivo in adj for fruta in fruits]

#for x in range(len(flat)):
#    print(x)

#[print(n) for nf in non_flat for n in nf]
lista = []
[lista.append(n) for nf in non_flat for n in nf]

for x in lista:
    print(x)

1
2
3
4
5
6
7
8
9
10

### Ejercicio
 
Repite el ejercicio anterior, pero imprimiento SÓLO las listas con más de 2 elementos

In [39]:
# Respuesta
non_flat = [ [1,2,3], [4,5,6], [7,8], [9], [10] ]



#[print(n) for nf in non_flat for n in nf]
lista = []
[lista.append(n) for nf in non_flat if len(nf) > 2 for n in nf]

print(lista)

[1, 2, 3, 4, 5, 6]

### El método `enumerate()` en Python. Nos permite mostrar no sólo el elemento de la lista, sino también su ordinal correspondiente

In [ ]:
for i,j in enumerate(intLista):
    print(i,j)

0 1
1 2
2 3
3 4
4 5

### Bucles `while`

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 # IMPORTATE, sino, entrará en bucle infinito

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### Ejercicio
 
Usando un bucle `while`, muestra la combinaciónd de adjetivos y frutas del las listas siguientes, de la misma forma que hicimos con los bucles `for`

In [50]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

# Respuesta
i = 0
j = 0
while i < len(adj):        
    while j < len(fruits):
        print(adj[i], adj[j])
        #print(adj[i], end = '')
        #print(' ', end = '')
        #print(fruits[j], end = '')
        j += 1
        #print()
    i += 1
    j = 0

red red
red big
red tasty
big red
big big
big tasty
tasty red
tasty big
tasty tasty

### **Creación de funciones**
 
# Nueva sección

### Crear una función

In [ ]:
# Las funciones se definen con la palabra reservada `def` en la primera línea y esta, finaliza con `:`
def my_function():
  print('Has llamado a la función: ' + my_function.__name__) 

# Para que una función se ejecute, esta ha de ser invocada/llamada en algún punto del código
my_function()

Has llamado a la función: my_function

### Pasar argumentos a una función

In [ ]:
def my_function(nombre):
  print('El nombre introducido es: ' + nombre)

my_function('Pepe')
my_function('John')

El nombre introducido es: Pepe
El nombre introducido es: John

### Ejercicio
 
Construye una función que realice la suma de dos números

In [52]:
# Respuesta
def suma(a, b):
    print('Suma: ' + str(a+b))

suma(1, 2)

Suma: 3

## Ejercicio
 
Construye una función que realice las siguientes operaciones matemáticas:
* Suma
* Resta
* Multiplicación
* División
 
En función de los parámetros que reciba al ser llamada.

In [55]:
# Respuesta
def operaciones(a, b, o):
    if(o == 's'):
        print('Suma: ' + str(a+b))
    elif(o == 'r'):
        print('Resta: ' + str(a-b))
    elif(o == 'm'):
        print('Multiplicacion: ' + str(a*b))
    elif(o == 'd'):
        print('Division: ' + str(a/b))

operaciones(1, 2, 's')
operaciones(2, 1, 'r')
operaciones(2, 2, 'm')
operaciones(6, 2, 'd')

Suma: 3
Resta: 1
Multiplicacion: 4
Division: 3.0

### Pasar un número arbitrario de argumentos a una función `*args`. Usando `*` que la función reciba una tupla de números

In [76]:
def my_function(*numeros):
    for i in numeros:
        print(i)
        print(type(numeros))

my_function(5, 2, 3)

5
<class 'tuple'>
2
<class 'tuple'>
3
<class 'tuple'>

### Listas como argumentos de una función

In [ ]:
def my_function(food):
  for x in food:
    print(x, end=' ')

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple banana cherry

### Ejercicio
 
Elabora una función que reciba una lista de elementos y los devuelva ordenados

In [74]:
def sortList(elements):
    elements.sort()
    return elements

fruits = ["cherry", "banana", "apple", "orange"]

# Respuesta
fs = sortList(fruits)
print(fs)

['apple', 'banana', 'cherry', 'orange']

### Ejercicio
 
Confecciona una función que reciba una tupla de números y devuelva el menor

In [1]:
# Ejemplo 5, 1, 2, 3

# Respuesta
def my_function(*numeros):
    return min(numeros)

m = my_function(5, 1, 2, 3)

print(m)

1

### Pasar argumentos a una función sin importa el orden de los mismos con `key = value`

In [ ]:
def my_function_key_value(nombre, calle, cod_postal):
  print("La dirección es: " + nombre + ' ' + calle + ' ' + cod_postal)

my_function_key_value(cod_postal="28080",calle='Gran Vía 23', nombre='Gustavo Zulupeta')

La dirección es: Gutavo Zulupeta Gran Vía 23 28080

### Pasar a la función un número general de argumentos identificados con su clave`**kwargs`

In [ ]:
def my_function(**destinatario):
    print("2º apellido: " + destinatario["apellido2"])

my_function(nombre = "John", apellido1 = "Rodríguez", apellido2 = "Gómez") # El orden en que se introducen no importa

2º apellido: Gómez

## Ejercicio
 
Realiza una función que imprima en el orden correcto una dirección con 5 y con 7 argumentos:

In [5]:
# Respuesta
def my_function(**direccion):
    print("Direccion: " + direccion["nombre"] +
          " , " + direccion["calle"] +
          " " + direccion["numero"] +
          " , " + direccion["codigoPostal"] +
          " , " + direccion["distrito"] +
          " " + direccion["ciudad"] + "-" + direccion["pais"])

my_function(nombre = "Mercadona", pais = "España", ciudad = "Madrid", calle = "Calle Lopez de Hoyos",
            numero = "1023", codigoPostal = "28017", distrito = "Ventas")

Direccion: Mercadona , Calle Lopez de Hoyos 1023 , 28017 , Ventas Madrid-España

### Devolución de valores desde una función con `return`

In [6]:
def cuadrado(x):
    return x**2

print("El cuadrado es: ", cuadrado(2))

El cuadrado es:  4

In [7]:
frase = "Una frase de ejemplo"
print(len(frase))

def leeFrase(entrada):
    for i in range(len(entrada)):
        print(entrada[i], end='')

leeFrase(frase)

20
Una frase de ejemplo

### Recursividad en funciones

In [9]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

tri_recursion(6)

1
3
6
10
15
21

21

In [10]:
def factorial(num):
    if num == 1:
        return num
    else:
        return num * factorial(num - 1)

print(factorial(3))

6

### Ejercicio
 
Usando recursividad, calcula la potencia de un número base^exponente
 
Ejemplo: 4^3 = 64

In [21]:
# Respuesta
def potencia(num):
    if num == 1:
        return num
    else:
        return 4 * potencia(num - 1)

print(factorial(4))

64

### **Funciones anónimas o lambda**

In [ ]:
x = lambda a : a*a

print(x(4))

16

### Funciones anónimas con filtrador `filter()`

In [ ]:
# filter toma dos argumentos, una función y una lista de valores
# Devuelve una lista con los valores de entrada que cumplen la condición
lista = [2,3,4,5,6]
resultados = list(filter(lambda x : (x > 4), lista))
print(resultados)

[5, 6]

In [ ]:
# map() toma dos argumentos, una función y una lista de valores
# Devuelve una lista con los valores de entrada tras aplicar la función lambda
lista = [2,3,4,5,6]
resultados = list(map(lambda x : (x * x), lista))
print(resultados)

[4, 9, 16, 25, 36]

In [ ]:
lista = [2,3,4,5,6]
resultados = list(map(lambda x : x if (x > 5) else x*2 , lista))

print(resultados)

[4, 6, 8, 10, 6]

### Funciones anónimas con filtrador `map()`

### Implementación de estructuras de control SWITCH CASE DEFAULT

In [ ]:
def switch_demo(argument):
  switcher = {
      1: "January",
      2: "February",
      3: "March",
      4: "April",
      5: "May",
      6: "June",
      7: "July",
      8: "August",
      9: "September",
      10: "October",
      11: "November",
      12: "December"
      }
  print(switcher.get(argument, "Mes no válido"))

switch_demo(10)

October

In [ ]:
def switch_demo_II(argument):
  switcher = {
      1: "January",
      2: "February",
      3: "March",
      4: "April",
      5: "May",
      6: "June",
      7: "July",
      8: "August",
      9: "September",
      10: "October",
      11: "November",
      12: "December"
      }
  print(switcher.get(argument, "Mes no válido"))

switch_demo(10)

### Arrays en Python

Método 	Descripción
 
-----------+---------------------------------
* append() - Añade elementos al final de un array
* clear()	- Elimina todos los elementos. Pero sigue existiendo
* copy()	- Genera una copia
* count()	- Devuelve el número de elementos con una etiqueta dada
* extend()	- Añade elementos de un array al final de otro
* index()	- Devuelve el índice de un elemento con una etiqueta determinada
* insert()	- Añade un elemento al array, en la posición determinada
* pop()	- Elimina el elemento que se encuentra en la posición dada
* remove()	- Elimina el elemento con la etiqueta dada
* reverse()	- Devuelve el array ordenado de forma inversa
* sort()	- Ordena un array

### Tamaño de un array

### Ejercicio.
 
Determina el número de elementos del array

In [9]:
coches = ["Renault", "Toyota", "Ford", "Nissan", "Volvo", "BMW"]

# Respuesta
len(coches)

6

### Acceso a los elementos de un array

### Ejercicio
 
Extrae el primer elemento del array anterior

In [3]:
# Respuesta
coches[0]

'Renault'

### Iterar a lo largo de los elementos de un array

### Ejercicio
 
Itera a lo largo del array anterior, mostrando todos los elementos en orden y separados por coma `,`

In [4]:
# Respuesta
for x in coches:
    print(x, end=',')

Renault,Toyota,Ford,Nissan,Volvo,BMW,

### Añadir elementos a un array

### Ejercicio
 
Añade al array anterior la marca `Honda`

In [10]:
# Respuesta
coches.append('Honda')
coches

['Renault', 'Toyota', 'Ford', 'Nissan', 'Volvo', 'BMW', 'Honda']

### Eliminar elementos de un array mediante su índice de posición

### Ejercicio
 
Elimina el primer elemento de array anterior

In [11]:
# Respuesta
del coches[0]
coches

['Toyota', 'Ford', 'Nissan', 'Volvo', 'BMW', 'Honda']

### Eliminar elementos de un array mediante su etiqueta

### Ejercicio

Elimina la marca `Honda` del array anterior

In [12]:
# Respuesta
print(coches)
i = 0
for x in coches:
    if(x == 'Honda'):
        del coches[i]
    i += 1

print(coches)

['Toyota', 'Ford', 'Nissan', 'Volvo', 'BMW', 'Honda']
['Toyota', 'Ford', 'Nissan', 'Volvo', 'BMW']

### Eliminar todos los elementos del array.
 
No elimina el array

### Ejercicio
 
Elimina todos lo elementos del array anterior

In [14]:
# Respuesta
print(coches)
coches.clear()
print(coches)

['Toyota', 'Ford', 'Nissan', 'Volvo', 'BMW']
[]

### Copiar un array

### Ejercicio
 
Realiza una copia de todos lo elementos del array anterior

In [17]:
# Respuesta
coches = ['Honda']
coches_copia = coches.copy()

coches_copia

['Honda']

### Contar los elementos con una etiqueta específica.

### Ejercicio
 
Cuenta todos lo elementos del array anterior de la marca `Honda`

In [18]:
# Respuesta
coches.count('Honda')

1

### Añadir elementos de una lista a otra lista

### Ejercicio
 
Añade las marcas de 3 automóviles deportivos al array anterior

In [20]:
# Ejemplo: Ferrary, Aston Martin, etc.

# Respuesta
coches = ["Renault", "Toyota", "Ford", "Nissan", "Volvo", "BMW"]

# Respuesta
len(coches)
coches.append('Ferrary')
coches.append('Aston Martin')

### Recuperar el índice del elemento de un array

### Ejercicio
 
Recupera la posición que ocupa una de las marcas.

In [21]:
# Ejemplo: Lamborghini

# Respuesta 
coches.index('Ferrary')

6

### insertar un nuevo elemento en una posición dada

### Ejercicio
 
Inserta al marca Subaru en la posición 2 del array anterior

In [22]:
# Respuesta
coches.insert(2, 'Subaru')
coches

['Renault',
 'Toyota',
 'Subaru',
 'Ford',
 'Nissan',
 'Volvo',
 'BMW',
 'Ferrary',
 'Aston Martin']

### Revertir el orden de elementos del array

### Ejercicio
 
Recupera todos los elementos del array anterior, pero en orden inverso

In [ ]:
# Respuesta
for x in

['BMW', 'Volvo', 'Nissan', 'Ford', 'Toyota', 'Renault']