# Spanish Electricity Pool Forecasting: Import Finacial Data from Quandl

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import os 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta

import quandl as qua
#https://unstats.un.org/unsd/envstats/qindicators.cshtml

#https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.KD
#https://www.gapminder.org/data/documentation/gd001/
#https://github.com/libora6/Investigating-GDP-and-Carbon-Emissions/blob/master/Project%202%20-%20Investigate%20a%20Dataset%20-%20Andr%C3%A9%20Neiva%20Liboreiro.ipynb
#https://www.ine.es/

In [3]:
PATH = "./data/"

In [5]:
START_DATE="2014-01-01"
END_DATE = dt.datetime.now().date().strftime("%Y-%m-%d")

start_date_suffix = START_DATE.replace("-","_")
end_date_suffix = END_DATE.replace("-","_")

In [6]:
END_DATE

'2021-01-27'

## IMPORT DATA

### Download finantial data from Quandl API:

https://www.quandl.com/tools/api

**Download Brent**

In [7]:
q_api_key='1JVFsqLQ2ygdFFwCx19g'
TICKER = "EIA/PET_RBRTE_D"
brent_raw = qua.get(TICKER, start_date=START_DATE, end_date=END_DATE, authtoken=q_api_key)
brent_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1812 entries, 2014-01-02 to 2021-01-21
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   1812 non-null   float64
dtypes: float64(1)
memory usage: 28.3 KB

In [8]:
brent_raw.to_csv('brent_raw.csv')

**Download EUR/USD**

In [9]:
q_api_key='1JVFsqLQ2ygdFFwCx19g'
TICKER = "FRED/DEXUSEU"
eurusd_raw = qua.get(TICKER, start_date=START_DATE, end_date=END_DATE, authtoken=q_api_key)
eurusd_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1762 entries, 2014-01-02 to 2021-01-22
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   1762 non-null   float64
dtypes: float64(1)
memory usage: 27.5 KB

In [11]:
#eurusd_raw.to_csv('eurusd_raw.csv')
eurusd_raw

             Value
Date
2014-01-02  1.3670
2014-01-03  1.3606
2014-01-06  1.3636
2014-01-07  1.3618
2014-01-08  1.3586
...            ...
2021-01-14  1.2156
2021-01-15  1.2099
2021-01-19  1.2126
2021-01-21  1.2143
2021-01-22  1.2179

[1762 rows x 1 columns]

**Download CO2 Emissions Allowances prices**

https://www.quandl.com/data/CHRIS/ICE_C1-ECX-EUA-Futures-Continuous-Contract

In [8]:
q_api_key='1JVFsqLQ2ygdFFwCx19g'
TICKER = "CHRIS/ICE_C1"
co2_raw = qua.get(TICKER, start_date=START_DATE, end_date=END_DATE, authtoken=q_api_key)
co2_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1839 entries, 2014-01-02 to 2021-01-22
Data columns (total 11 columns):
Open                       1570 non-null float64
High                       1570 non-null float64
Low                        1570 non-null float64
Settle                     1839 non-null float64
Change                     1818 non-null float64
Wave                       1317 non-null float64
Volume                     1421 non-null float64
Prev. Day Open Interest    1838 non-null float64
EFP Volume                 387 non-null float64
EFS Volume                 60 non-null float64
Block Volume               704 non-null float64
dtypes: float64(11)
memory usage: 172.4 KB

In [14]:
co2_raw.to_csv('co2_raw.csv')

**Download Coal API2 prices**

The API 2 price assessment is the benchmark price reference for coal imported to northwest Europe. It is calculated as an average of the Argus cif ARA price assessment and the IHS McCloskey NW Europe Steam Coal marker.


https://www.quandl.com/data/CHRIS/CME_MTF2-Coal-API2-CIF-ARA-ARGUS-McCloskey-Futures-Continuous-Contract-2-MTF2

In [9]:
TICKER = "CHRIS/CME_MTF2.6"
coal_raw = qua.get(TICKER, start_date=START_DATE, end_date=END_DATE, authtoken=q_api_key)
coal_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1736 entries, 2014-02-18 to 2021-01-22
Data columns (total 1 columns):
Settle    1736 non-null float64
dtypes: float64(1)
memory usage: 27.1 KB

In [ ]:
coal_raw.to_csv('coal_raw.csv')

**Download Natural Gas at TTF prices**

The Title Transfer Facility, more commonly known as TTF, is a virtual trading point for natural gas in the Netherlands

https://www.quandl.com/data/CHRIS/ICE_TFM1-Endex-Dutch-TTF-Gas-Base-Load-Futures-Continuous-Contract

In [10]:
#data_gas_henryhub=quandl.get("EIA/NG_RNGWHHD_D", authtoken="uVzDf-SwCbsjAGvKiY5Y")

TICKER = "CHRIS/ICE_TFM1.4"
ng_raw = qua.get(TICKER, start_date=START_DATE, end_date=END_DATE, authtoken=q_api_key, collapse='')
ng_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1817 entries, 2014-01-02 to 2021-01-22
Data columns (total 1 columns):
Settle    1817 non-null float64
dtypes: float64(1)
memory usage: 28.4 KB

In [ ]:
ngas_raw.to_csv('ngas_raw.csv')